# FastAPI Configuration
PROJECT_NAME="DocuTrust API"
API_V1_STR="/api/v1"
DEBUG=true
PORT=8000
HOST="127.0.0.1"

# MongoDB Database Configuration
MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_NAME="docutrust_db"

# Corrective RAG (CRAG) AI Configuration
EMBEDDING_MODEL_NAME="BAAI/bge-small-en-v1.5"
CROSS_ENCODER_MODEL_NAME="BAAI/bge-reranker-base"
TAVILY_API_KEY=""  # Tavily API key for web search fallback
